.listStyle {
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  background: #111827;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  transition: all 0.5s;
}

.hideListStyle {
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  transition: all 0.5s;
}

.remove {
  clip-path: polygon(1 0, 100% 0, 100% 0, 0 0) !important;
}

@media (min-width: 800px) {
  .hideListStyle {
    clip-path: none;
  }
}
